.test{
    width:100vw;
    height:15vh;
    background-image:linear-gradient(rgba(43, 172, 223, 0.692), rgba(255, 255, 255, 0.5));
}

.heading{
    color:rgb(36, 36, 143);
}

.userProject{
    margin-top:10px;
    margin-right:20px;
}

.user{
    position:absolute;
    width: 75px;
    height: 75px;
    margin-top:-56px;
    margin-left:1260px;
    border-radius: 50%;
    background-image:url("https://cdn.pixabay.com/photo/2015/10/05/22/37/blank-profile-picture-973460_960_720.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.projectButton{
    line-height:20px;
    width:75px;
    font-size:12pt;
    font-family:tahoma;
    margin-top:40px;
    margin-right:100px;
    position:absolute;
    top:0;
    right:0;
    color:black;
    background:transparent;
    border:none;
    outline:none;
}


.backBtn{
    float:left;
    margin-left:10px;
    color:white;
    background-color: rgb(61, 58, 58);
    border-color:rgb(61, 58, 58);
    outline-color:rgb(61, 58, 58);
}

.topDiv{
    width:1200px;
    height:100px;
}

.imageDiv{
    width:200px;
    height:200px;
}

.imagePic{
    width:100%;
    height:100%;
}



.modelHeader{
    float:left;
    color:rgb(28, 28, 138);
    font-size:20px;
    font-weight:bold;
}

.projectSelect{
    float:right;
    margin-bottom:100px;
}

.buttonsDiv{
    margin-top:150px;
    width:1200px;
    height:15px;
    background-color:rgba(211, 211, 211, 0.562);
}


.topContainer{
    width:500px;
    overflow:hidden;
    background-color:white;
}

.titleHeader{
    width:180px;
    float:left;
    background-color:lightgrey;
}

.right{
    width:100px;
    float:right;
    margin-right:200px;
    text-align:left;
}

.right1{
    width:100px;
    float:right;
    margin-right:200px;
    text-align:left;
    line-height:25px;
}


.centerParam{
    text-align: center;
}

.Title{
    color:rgb(28,28,138);
    font-size:25px;
    font-weight:bold;
}

.leftDiv{
    float:left;
    width:550px;
    height:400px;

}

.rightDiv{
    float:right;
    width:550px;
    height:400px;
}

.paramHeaderBorder{
    width:550px;
    height:15px;
    border-top-style:groove;
    border-top-width: 1px;
    border-top-color:rgb(207, 207, 207);

    border-bottom-style:groove;
    border-bottom-width: 1px;
    border-bottom-color:rgb(207, 207, 207);
}

.paramHolder{
    width:350px;
    height:20px;
    float:right;
}

.paramHeaderLeft{
    width:20px;
    height:10px;
    text-align:center;
    background-color:rgb(207, 207, 207);
    float:left;
    line-height:10px;
}

.paramLeft{
    float:left;
    margin-left:80x;
    width:20px;
    height:10px;
    text-align:center;
    line-height:10px;
}

.paramHeaderRight{
    float:right;
    margin-right:80px;
    width:20px;
    height:10px;
    background-color:rgb(207, 207, 207);
    text-align:center;
    line-height:10px;
}

.paramRight{
    float:right;
    width:20px;
    text-align:center;
    line-height:10px;
}

.fanDescription{
    width:1200px;
    height:80px;
    text-align:left;
}

.description{
    width:1200px;
    text-align: left;
}

.documentationDiv{
    width:1200px;
    height:200px;
    text-align:left;
}

.detailsDiv{
    width:1200px;
    height:200px;
    text-align:left;
}